bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/.idea
/packages
/EventModule/x64
TestEventModule/TestEventModule.vcxproj
TestEventModule/TestEventModule.vcxproj.user
/TestEventModule/x64
/x64
/x64/Debug
/x64/Debug
EventModule.vcxproj.filters
EventModule.vcxproj.user
EventModule.vcxproj
EventModule.vcxproj.filters
